@model List<Product>
@if(0 < Model.Count)
{
    <div class="d-flex gap-2">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@item.ImageUrl" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Price</p>
                    <p class="card-text">@item.Category.Name</p>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1>Empty</h1>
}
